html,
body {
  height: 100%;
}

.nav-col {
  background-color: #00254F !important;
}

.navbar-nav {
  margin-left: 40px;
  height: 100px;
}

.a {
  color: #b8d9ff !important;
  font-size: 17px !important;
  margin-top: 5px;
}

.a:hover {
  color: white !important;
}

.nav-item {
  margin-top: 30px;
}


.logo {
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #021211;
  bottom: 0;
}

hr {
  color: black;
}

.icons {
  color: #00254F !important;
}

.icons:hover {
  color: black !important;
}

.btn-ag {
  background-color: transparent !important;
  color: #00254F !important;
  border: 2px solid #00254F !important;
  width: 49%;
}

.btn-v {
  background-color: #00254F !important;
  ;
  color: white !important;
  border: 2px solid #00254F !important;
  width: 49%;
}

.h1-index{
  margin-top: 10px;
}

.p-index{
  font-size: 30px;
}